
<ng-container   *ngIf="blogpost$ |async as blogpost;else loader">
<div class="container text-center">

     <div class="py-5">

       <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <img [src]="blogpost.featuredImageurl" [title]="blogpost.title" class="img-fluid">
        <h1 class="mt-4">{{blogpost.title}}</h1>
        <div class="d-flex justify-content-between mt-4">
          <span> {{blogpost.author}}</span>
          <span> {{blogpost.publishedDate | date:'dd-mm-yyyy'}}</span>
        </div>
        <div *ngIf="blogpost.categories" class="mt-4">
        
           <span class="badge bg-secondary me-2"
           *ngFor="let category of blogpost.categories">
            {{category.name}}
          </span>
        </div>
        <div class="mt-4 blog-content">
        <span>{{blogpost.content}}</span>
        </div>
       </div>
     </div>
</div>
    
    
</ng-container>

<ng-template #loader>
   <div class="container text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
   </div>
    
</ng-template>