<div class="container">
   <form>
     <div class="mt-2">
         <div class="mt-3">
            <label  class="form-label">
                Title
            </label>
            <input type="text" id="title"  class="form-control" 
            name="title ">
          </div>
       </div>

      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                short description
            </label>
            <input type="text" id="shortdescription"  class="form-control"
             name="shortdescription" >
        </div>
      </div>


      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                content
            </label>
            <textarea type="text" id="content"  class="form-control"
             name="content" ></textarea>
        </div>
      </div>

      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                url handle
            </label>
            <input type="text" id="urlhandle"  class="form-control"
             name="urlhandle" >
        </div>
      </div>


      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                featured imageurl
            </label>
            <input type="text" id="featuredimageurl"  class="form-control"
             name="featuredimageurl" >
        </div>
      </div>

      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                publisheddate
            </label>
            <input type="date" id="publisheddate"  class="form-control"
             name="publisheddate" >
        </div>
      </div>

      <div class="mt-2">
        <div class="mt-3">
            <label  class="form-label">
                Author
            </label>
            <input type="text" id="author"  class="form-control"
             name="author" >
        </div>
      </div>
       <div class="mt-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isvisible">
        <label class="form-check-label" for="flexCheckDefault">
            isvisible
        </label>
      </div>
    </div>
        <div class="mt-2">
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </div>
    </form>

</div>